<div class="form-produtos">

  <h2>Cadastrar produtos</h2>

  <form action="">

    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" class="form-control" id="nome">
    </div>

    <div class="form-group">
      <label for="preco">Preço:</label>
      <input type="number" class="form-control" id="preco">
    </div>

    <div class="form-group">
      <label for="fabricante">Fabricante:</label>
      <input type="text" class="form-control" id="fabricante">
    </div>

    <div class="form-group">
      <label for="sel1">Categoria:</label>
      <select class="form-control" id="sel1">
        <option value="alimento">Alimento</option>
        <option value="limpeza">limpeza</option>
        <option value="higiene">higiene</option>
      </select>
    </div>

    <div class="form-group">
      <label for="quantidade">Quantidade:</label>
      <input type="number" class="form-control" id="quantidade">
    </div>

    <button type="submit" class="btn btn-success">Cadastrar</button>

  </form>

</div>