<div class="container overflow-auto">
  <h2>Lista de categorias</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% if categorias %}
        {% for categoria in categorias %}
          <tr class="d-flex justify-content-between">
            <td>{{ categoria.nome }}</td>
            <td>
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="putInEditCatModal(
                            '{{ categoria.id }}',
                            '{{ categoria.nome }}',
                        )"><i class="fas fa-pen"></i></button>
              <button class="btn btn-danger" onclick="deletarPorId('categoria/deletar', {{ categoria.id }})"><i class="fas fa-trash"></i></button>
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td>Nenhuma categoria disponível</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Atualizar categoria</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <form action="{% url 'loja:atualizar_categoria' %}" method="POST">
          {% csrf_token %}

          <!-- Input criado para armazenar o id -->
          <input id="identifier" type="" style="display: none;" name="id" />

          <!-- Modal body -->
          <div class="modal-body">
            <div class="form-group">
              <label for="nome">Nome:</label>
              <input type="text" class="form-control" id="nomeEditar" name="nome" />
            </div>
          </div>

          <!-- Modal footer -->

          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Atualizar</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
